* {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: black;
  background-color: whitesmoke;
  margin: 40px 10px;
}

h1 {
  font-size: 56px;
  margin-bottom: 20px;
}

h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

h3 {
  font-size: 22px;
}

header {
  background: linear-gradient(to right, green, yellow, red);
  padding: 50px 0 20px 0;
  margin-bottom: 50px;
}

header > p {
  font-size: 22px;
}

section {
  margin: 0 auto;
  max-width: 1440px;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 10px;
  transition: transform 500ms ease-in-out;
}

img:hover {
  transform: scale(1.1);
}

figure {
  margin-bottom: 50px;
}

figcaption {
  text-align: left;
  font-size: 16px;
  margin-top: 10px;
}

ul {
  max-width: 800px;
  text-align: left;
  margin-bottom: 70px;
  background-color: rgb(253, 255, 139);
  padding: 20px 50px;
  border-radius: 15px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}

li {
  text-align: left;
  margin: 15px 0;
}

footer {
  padding: 50px;
  background: linear-gradient(to right, green, yellow, red);
}
